@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* App-header h1{

} */
body{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  font-family: 'Special Elite', cursive;
}
.App h1{
  margin: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  color:indigo;
  text-shadow: 1px 1px 5px rgb(255, 0, 191);
}
.circles{
  display: flex;
  flex-wrap: wrap;
}
.circle{
width:200px;
height: 200px;
background-color: rgb(160, 211, 160);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin: 20px;
}
.App p{
  font-size: 1.2rem;
}
.start,.stop{
  width:150px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
  margin: 20px;
  font-family: 'Special Elite', cursive;
}
.App .button :hover{
  color: rgb(47, 130, 255);
}
.start span{
  font-size: 1.2rem;
}
.stop span{
  font-size: 1.2rem;
}

.circle p{
  font-size: 2rem;
}
.circle.active{
  box-shadow: 0 0 5px snow;
  border: 25px solid blueviolet;
}
/***********GameOver*********/
.overlay{
  position: fixed;
  left:0;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100%;
  background-color: rgba(34, 33, 33,.8);
  border-radius: 5px;
}
.popup{
  position: relative;
  left:0;
  top:0;
  height: 30%;
  width: 40%;
  background-color: rgb(240, 221, 221);
  padding: 2rem;
  box-shadow: 0 0 5px #333;
  margin: 0 auto;
  border-radius: 5px;
}
.popup h2{
  font-family: 'Courier Prime', monospace;
  font-size: 2.2rem;
  color: #3f87a6;
}
.overlay button{
  display: block;
  width: 50px;
  height: 30px;
  margin-top: 2px;
  margin-left: 93%;
}
.overlay button:hover{
  background-color: rgb(224, 131, 77);
}

.popup button span{
  font-size: 1.5rem;
}

.popup p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
}
